# Created by http://gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# php
phpbrew

#slink to sublime text2.
subl

# erlang
kerl
rebar

